/mod_*/__pycache__
/examples/*/appimage.elf
/examples/*/appimage.hex
/examples/*/firmware.bin
/examples/*/firmware.elf
/examples/*/firmware.hex
/examples/*/firmware.map
/examples/*/icosoc.asc
/examples/*/icosoc.bin
/examples/*/icosoc.blif
/examples/*/icosoc.c
/examples/*/icosoc.h
/examples/*/icosoc.mk
/examples/*/icosoc.pcf
/examples/*/icosoc.v
/examples/*/icosoc.ys
/examples/*/*.d
/examples/*/*.o
